<a href="https://colab.research.google.com/github/joyshinola-byte/Sales-dataset-project-1/blob/main/sales_data_set_ipynd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
file_path = "/content/drive/MyDrive/Colab Notebooks/sales_data.csv"

In [29]:
import numpy as np
import pandas as pd

In [30]:
data=pd.read_csv(file_path)

In [31]:
data.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB

In [33]:
data.columns

Index(['Product_ID', 'Sale_Date', 'Sales_Rep', 'Region', 'Sales_Amount',
       'Quantity_Sold', 'Product_Category', 'Unit_Cost', 'Unit_Price',
       'Customer_Type', 'Discount', 'Payment_Method', 'Sales_Channel',
       'Region_and_Sales_Rep'],
      dtype='object')

In [40]:
sales_array = data["Sales_Amount"].to_numpy()
quantity_array = data["Quantity_Sold"].to_numpy()
data['Profit'] = data['Sales_Amount'] - (data['Quantity_Sold'] * data['Unit_Cost'])
profit_array = data["Profit"].to_numpy()

print("Sales Array:", sales_array[:5])

Sales Array: [5053.97 4384.02 4631.23 2167.94 3750.2 ]

In [34]:
quantity = data['Quantity_Sold']
unit_price = data['Unit_Price']
revenue = quantity * unit_price
total_sales = np.sum(revenue)
average_sales = np.mean(revenue)

print("\nTotal Sales:", total_sales)
print("Average Sales:", average_sales)

Total Sales: 70329940.71
Average Sales: 70329.94071

In [35]:

print("\nFirst Record:", revenue[0])
print("First 3 Records:", revenue[:3])
print("Last 2 Records:", revenue[-2:])

First Record: 4809.960000000001
First 3 Records: 0     4809.96
1    71560.48
2    11142.00
dtype: float64
Last 2 Records: 998    145992.21
999    140480.64
dtype: float64

In [36]:
mean_sales = np.mean(revenue)
median_sales = np.median(revenue)
variance_sales = np.var(revenue)
std_deviation = np.std(revenue)

print("\nMean:", mean_sales)
print("Median:", median_sales)
print("Variance:", variance_sales)
print("Standard Deviation:", std_deviation)

Mean: 70329.94071
Median: 54519.175
Variance: 3335570781.3854194
Standard Deviation: 57754.4005369757

In [37]:
discount_price = unit_price * 0.9
discount_revenue = quantity * discount_price

print("\nRevenue after 10% Discount:\n", discount_revenue)

Revenue after 10% Discount:
 0        4328.964
1       64404.432
2       10027.800
3      156818.025
4        8104.707
          ...
995     19591.740
996     61818.120
997      6705.531
998    131392.989
999    126432.576
Length: 1000, dtype: float64

In [38]:
performance = np.where(revenue > average_sales,
                       "High Sales",
                       "Low Sales")

print("\nPerformance Analysis:\n", performance)

Performance Analysis:
 ['Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'High Sales' 'High Sales' 'High Sales' 'High Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'High Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'High Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'High Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'High Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'High Sales' 'High Sales' 'High Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales'
 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'High Sales' 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales'
 'Low Sales' 'Low Sales' 'High Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales' 'Low Sales' 'Low Sales' 'Low Sales' 'High Sales'
 'High Sales']